In [ ]:
# Book Python Excercises for Beginners
#https://www.programiz.com/python-programming/operators

#### 1) Write a program to Add Two numbers

In [ ]:
'Solution 1'
a , b = int(input()),int(input())
print('The sum is =',a+b)

#### 2) Write a program to find whether a given number (accept from the user) is evem or  odd, print out an appropiate message to the user.

In [ ]:
'Solution 1'
a , b = int(input('Enter a number:')),int(input('Enter a number:'))
if a % 2 == 0:   # / as quotient , % as Remainder. 
    print('This is an even number.')
else:
    print('this an odd number.')

#### 3) Write a program to check whether  a number entered by the user is positive, negative or zero

In [ ]:
'Solution 1'
a  = int(input('Enter a number:'))
if a == abs(a)  :
    print('This is an positive number.')
if a == -(a) :
    print('this an negative number.')
elif  a == 0 :
    print('this is Zero number.')

In [ ]:
'Solution 2'
a  = int(input('Enter a number:'))
if a > 0  :
    print('Positive number.')
elif  a == 0 :
    print('Zero.')
else:
    Print('Negative number.')

#### 4) Write a program to display the calendar of a given date.

In [ ]:
import calendar 
yy = int(input('Enter year :'))
MM = int(input('Enter month :'))
#DD = int(input('Enter day :'))
print(calendar.month(yy,MM,DD))

#### 5) Write a program to ask the user enter the string and print that string as output of the program.

In [ ]:
'Solution 1'
Y = int(input('Enter a string :'))
N = str(Y)
print ( 'string : ',N)

In [ ]:
'Solution 2'
string = input('Enter string:')
print('You entered :',string)

#### 6) Write a program to concatenate Two strings.

In [ ]:
string1 ,string2= input('Enter string :'), input('Enter string:')
concatenate = string1 + string2
print( 'string after concatenation',concatenate)

#### 7) Write a program to Check if an item exist in the list.

In [ ]:
list = ['Bread','Oranges','Milk']
item = input('Typer item to check:')
if item in list :
    print('Item exist in the list.')
else:                              # Else is an extra requeriment , its not neccesary to add.
    print('Item doesn`t exist.')

#### 8) Write a program to Join two or more lists.

In [ ]:
list1 = ['Bread','Oranges','Milk']
list2 = ['Banana','Pizza','Apple']
final_list = list1 + list2 
print(final_list)

#### 9) Write a program to Calculate  Cube  of a Number.

In [ ]:
'Solution 1'
a = int(input('Enter a number :'))
calculate1 = (a)**1/3 # It`s not exact.
print('Cubic Root Mean :',calculate1)

In [ ]:
'Solution 2'
import math
a = int(input('Enter a number :'))
calculate2 = math.pow(a,3)  #math.pow or just pow(a,number of power)
print('Cubic Root Mean :',calculate2)

#### 10) Write a program to  Calculate Square root of a number.

In [ ]:
'Solution 1'
a = int(input('Enter a number :'))
cal_sqr = (a)**1/2 # It`s not exact.
print('Square Root Mean :',cal_sqr)

In [ ]:
'Solution 2'
import math 
a = int(input('Enter a number :'))
b = math.sqrt(a) # This is more accurate
print('Square Root Mean :',round(b,3))

#### 11)  Write a program that takes a list of numbers (for example, a = [5,10,15,20,25])  and 
#### makes a  new list of only the first and last elements of the given list.

In [ ]:
'Solution 1'
List3 = [1,2,3,4,5]
print([List3[0],List3[4]])

#### 12)  Take a list, say for example this one: a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89] and 
#### write a program that prints out all the elements of the line that are less than 5.

In [7]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

1
1
2
3

#### 13) Let`s say I give you a list saved in a variable : a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100].
#### Write one line of Python that takes this list 'a' and makes a new list that only 
#### the even elements of this list in it.

In [ ]:
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
b = [number for number in a if number % 2 == 0]
print(b)

#### 14) Ask the user for a string and print out whether this string is palindrome or nor ( A palindrome 
#### is  a string that reads the same forwards and backwards).

In [ ]:
a = (input('Enter a word :')
c = a.casefold()
b = reversed(c)
if list(c) == list(b):
     print('It´s  palindrome')
else:
     print('It´s not palindrome')

#### 15)
####

#### 16) Make a program to add a string to text file.

In [2]:
file = open("testfile.txt","w")
file.write("HEllo world")
file.write("This is our new text file")
file.write("and this is another line")
file.write("Why? Because we can.")
file.close()

#### 17) Make a program to read a file and display its content on console.

In [5]:
'Solution 1'
with open('testfile.txt') as f:
    line = f.readline()
    while line:
        print(line)
        Line = f.readline()
        break # solution for end a cycle

HEllo worldThis is our new text filennd this is another lineWhy? Because we can.

In [6]:
'Solution 2'
import pandas as pd
D = pd.read_csv('C:/Users/folder/folder/file.csv', sep=';')
D

,t,An_x,An_y,An_z,Kn_x,kn_y,kn_z,Hi_x,Hi_y,Hi_z
0,0.00,20.009200,-8.48916,33.3345,6.90174,6.57003,-18.9054,-9.74358,-2.34660,-17.3050
1,0.01,20.563700,-8.59186,33.5815,7.29593,6.53769,-18.7894,-10.01730,-2.35806,-17.4117
2,0.02,21.254800,-8.71313,33.8712,7.81402,6.48471,-18.6463,-10.35290,-2.36882,-17.5009
3,0.03,22.048100,-8.84436,34.1824,8.44591,6.40438,-18.4752,-10.73530,-2.37574,-17.5648
4,0.04,22.899000,-8.97736,34.4953,9.17894,6.28959,-18.2752,-11.14560,-2.37728,-17.6043
...,...,...,...,...,...,...,...,...,...,...
292,2.92,0.924739,-6.65668,28.6741,13.48760,4.43024,-18.4033,22.24010,-5.39360,-14.1690
293,2.93,0.892711,-6.57016,28.4422,14.40410,4.55136,-17.9990,22.24300,-5.29554,-14.3762
294,2.94,0.933663,-6.51743,28.3002,14.97780,4.64494,-17.7549,22.22310,-5.23586,-14.4921
295,2.95,0.972032,-6.49422,28.2376,15.23380,4.69355,-17.6493,22.20470,-5.20916,-14.5378
296,2.96,0.983605,-6.48912,28.2239,15.29080,4.70545,-17.6263,22.19900,-5.20312,-14.5470